# PANDAS

Pandas is a python library used for data analysis. It allows for the reading and importing of data in various formats like csv, excel, sql, txt etc. It is also used for data manipulation, data cleaning and data wrangling. 

### Advantages of using pandas

* For proper data representation; working with different data formats and structures etc
* Helps to get more done with lesser code
* Offers a wide range of features like handling missing values, working with time series analysis etc
* Efficient in handling big data

## Getting started with pandas
Letâ€™s get to some of the ways we can use pandas

*pip install pandas* if the software is previously unavailable on your local machine

### Creating data structures

Pandas can be used in creating 1D and 2D data structures; Series and Dataframes

Series are 1D labelled data structures capable of holding data of any type e.g. integers, floats, strings etc

**Example**

In [1]:
import pandas as pd
import numpy as np

In [2]:
series1 = pd.Series([1, 3, 4, 6, 9])
series1

0    1
1    3
2    4
3    6
4    9
dtype: int64

In [3]:
type(series1)

pandas.core.series.Series

In [4]:
series2 = pd.Series([series1, 4, 7, 8])
series2

0    0    1
1    3
2    4
3    6
4    9
dtype: int64
1                                                  4
2                                                  7
3                                                  8
dtype: object

In [5]:
series1.shape

(5,)

In [6]:
series2.shape

(4,)

From the above example, we can see the series have a 1-dimensional shape. The two dimensional example of the above illustrations is done using pandas dataframes. So in this case, we are having our data structured in form of rows and columns. Let's have a look at that below.

In [7]:
# To create a dataframe, we need to specify the column titles 
#or we could leave it black and pandas uses the default numbering

df = pd.DataFrame()

The dataframe arguments takes in the data to be used for creating the dataframe which could be in form of a dictionary, or arrays

In [8]:
# Using a dictionary

dictionary = {
    "column 1": 1,
    "column 2": 2,
    "column 3": 3,
    "column 4": 4,
    "column 5": 5
}

In [9]:
df = pd.DataFrame(dictionary.items())
df

          0  1
0  column 1  1
1  column 2  2
2  column 3  3
3  column 4  4
4  column 5  5

In [10]:
df = pd.DataFrame(dictionary, index=dictionary.keys())
df

          column 1  column 2  column 3  column 4  column 5
column 1         1         2         3         4         5
column 2         1         2         3         4         5
column 3         1         2         3         4         5
column 4         1         2         3         4         5
column 5         1         2         3         4         5

In [11]:
array1 = [[0, 1, 2, 3], [4, 5, 6, 7]]

df2 = pd.DataFrame(array1, columns=['column1', 'column2', 'column3', 'column4'])
df2

   column1  column2  column3  column4
0        0        1        2        3
1        4        5        6        7

In [12]:
df2.shape

(2, 4)

### Importing data

Pandas can be used to read different file formats like csv, excel, sql, texts and many other data formats easier than using inbuilt python functions. We will take an example with .csv files

In [13]:
data = pd.read_csv('data/lithofacies.csv.txt', sep=';') # where 'data/A1.csv' is the relative file path

In [14]:
data

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,SP,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO
0,15/9-14,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,...,35.525719,NaN,96.461990,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN
1,15/9-14,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,...,36.158520,NaN,96.454399,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN
2,15/9-14,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,...,36.873703,NaN,96.446686,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN
3,15/9-14,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,...,37.304054,NaN,161.170166,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN
4,15/9-14,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,...,37.864922,NaN,172.489120,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136781,35/9-8,3224.389600,536225.93750,6794880.5,-3199.876465,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.231942,...,NaN,8.5,26.615782,118.669212,NaN,0.063478,NaN,2.618309,33.523922,NaN
136782,35/9-8,3224.541600,536225.93750,6794880.5,-3200.028320,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.038777,...,NaN,8.5,25.647141,118.468925,NaN,0.056791,NaN,2.620221,32.643795,NaN
136783,35/9-8,3224.693600,536225.93750,6794880.5,-3200.180176,BAAT GP.,Rannoch Fm.,8.4978,NaN,5.503983,...,NaN,8.5,23.929407,118.163177,NaN,0.002499,NaN,2.629171,31.763380,NaN
136784,35/9-8,3224.845600,536225.93750,6794880.5,-3200.332031,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.895551,...,NaN,8.5,22.737293,117.655937,NaN,0.003363,NaN,2.521121,30.884350,NaN
136785,35/9-8,3224.997600,536225.93750,6794880.5,-3200.483887,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.564547,...,NaN,8.5,21.116669,117.002289,NaN,0.001724,NaN,2.356035,29.962900,NaN

We can also leverage pandas to make mathematical operations on the columns in our data frame. But let's look at pandas for creating more data by specifying logical conditions using pandas.
As geoscientists, a typical application of this is when performing petrophysical interpretation, pandas could be used in the following;

* Delineating reservoir sections from lithology flag logs'
* Determining the net pay zone 
* Calculating petrophysical properties like porosity, water saturation etc

### Creating lithology flag log using the gamma ray log (column)

First, let's add a new column to our dataframe which serves as the lithology flag. This can be done by specifying a value for our shale baseline (75), and setting the conditions. If the gamma ray value is lesser than 75, a value of 1 should be assigned (to indicate sand), and zero for every value greater than the shale baselne (to indicate shale). This log would be useful when determing the net pay zone thickness or to determine if a section is thick enough to be a reservoir

In [15]:
data['lithology_flag'] = np.nan  # creating the new column and assigning null values to all the rows
data

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag
0,15/9-14,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,...,NaN,96.461990,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN,NaN
1,15/9-14,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,...,NaN,96.454399,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN,NaN
2,15/9-14,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,...,NaN,96.446686,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN,NaN
3,15/9-14,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,...,NaN,161.170166,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN,NaN
4,15/9-14,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,...,NaN,172.489120,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136781,35/9-8,3224.389600,536225.93750,6794880.5,-3199.876465,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.231942,...,8.5,26.615782,118.669212,NaN,0.063478,NaN,2.618309,33.523922,NaN,NaN
136782,35/9-8,3224.541600,536225.93750,6794880.5,-3200.028320,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.038777,...,8.5,25.647141,118.468925,NaN,0.056791,NaN,2.620221,32.643795,NaN,NaN
136783,35/9-8,3224.693600,536225.93750,6794880.5,-3200.180176,BAAT GP.,Rannoch Fm.,8.4978,NaN,5.503983,...,8.5,23.929407,118.163177,NaN,0.002499,NaN,2.629171,31.763380,NaN,NaN
136784,35/9-8,3224.845600,536225.93750,6794880.5,-3200.332031,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.895551,...,8.5,22.737293,117.655937,NaN,0.003363,NaN,2.521121,30.884350,NaN,NaN
136785,35/9-8,3224.997600,536225.93750,6794880.5,-3200.483887,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.564547,...,8.5,21.116669,117.002289,NaN,0.001724,NaN,2.356035,29.962900,NaN,NaN

Let's make a little visualization of the missing values in the logs before proceeding

In [16]:
data.isna().sum()

WELL                   0
DEPTH_MD               0
X_LOC                 59
Y_LOC                 59
Z_LOC                 59
GROUP                  0
FORMATION           7074
CALI                5645
RSHA               97689
RMED                 587
RDEP                  59
RHOB               16960
GR                     0
SGR               136786
NPHI               32743
PEF                23283
DTC                  823
SP                 70159
BS                 69822
ROP                68470
DTS                93566
DCAL              123271
DRHO               25230
MUDWEIGHT         116517
RMIC              125470
ROPA               80996
RXO               106938
lithology_flag    136786
dtype: int64

In [17]:
(data.isna().sum()/data.shape[0]) * 100  # to get the percentage of the missing values

WELL                0.000000
DEPTH_MD            0.000000
X_LOC               0.043133
Y_LOC               0.043133
Z_LOC               0.043133
GROUP               0.000000
FORMATION           5.171582
CALI                4.126884
RSHA               71.417397
RMED                0.429137
RDEP                0.043133
RHOB               12.398930
GR                  0.000000
SGR               100.000000
NPHI               23.937391
PEF                17.021479
DTC                 0.601670
SP                 51.291068
BS                 51.044698
ROP                50.056292
DTS                68.403199
DCAL               90.119603
DRHO               18.444870
MUDWEIGHT          85.181963
RMIC               91.727224
ROPA               59.213662
RXO                78.179053
lithology_flag    100.000000
dtype: float64

In [18]:
# fill the missing gamma ray values with -9999 before proceeding

data['GR'] = data['GR'].fillna(-9999)

In [19]:
# let's specify the condition, this could be easily done using numpy.where

data['lithology_flag'] = np.where(data['GR'] <= 75, 0, 1)

In [21]:
data.head()

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag
0,15/9-14,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,...,NaN,96.461990,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN,0
1,15/9-14,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,...,NaN,96.454399,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN,0
2,15/9-14,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,...,NaN,96.446686,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN,1
3,15/9-14,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,...,NaN,161.170166,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN,1
4,15/9-14,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,...,NaN,172.489120,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN,1

In [22]:
data['lithology_flag'].value_counts()

0    94165
1    42621
Name: lithology_flag, dtype: int64

In [23]:
data.describe() # to check the statistical information of the table

,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,CALI,RSHA,RMED,RDEP,RHOB,GR,...,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag
count,136786.000000,136727.000000,1.367270e+05,136727.000000,131141.000000,39097.000000,136199.000000,136727.000000,119826.000000,136786.000000,...,66964.000000,68316.000000,43220.000000,13515.000000,111556.000000,20269.000000,11316.000000,55790.000000,29848.000000,136786.000000
mean,2501.136889,467884.598172,6.708199e+06,-2397.835918,12.613567,3.137817,3.844914,3.662074,2.324925,65.223264,...,10.963364,26.406939,185.389543,0.160979,0.014441,6.028683,4.906861,22.669058,5.280645,0.311589
std,1043.245788,35865.313917,1.352924e+05,937.001116,3.218969,17.293036,24.170949,23.242750,0.243602,31.146538,...,1.839420,31.913763,63.173605,0.536332,0.054151,49.607255,22.963156,13.436052,55.475790,0.463144
min,227.296008,423237.531250,6.461833e+06,-4362.296387,6.682522,0.255146,0.148474,0.152317,1.289989,6.342400,...,8.500000,0.004297,79.327354,-6.402187,-1.213720,0.129413,0.063258,0.572329,0.262056,0.000000
25%,1707.948917,442441.406250,6.605454e+06,-3171.749634,9.049458,0.850029,0.933067,0.902655,2.116576,44.557275,...,8.500000,12.240131,146.022373,0.027619,-0.001835,0.134206,0.543010,12.753529,1.081298,0.000000
50%,2471.823595,455904.187500,6.759398e+06,-2442.877197,12.428942,1.416000,1.669926,1.657664,2.376285,60.110472,...,12.250001,20.878899,175.515274,0.124714,0.009203,0.143792,1.435970,19.927827,1.587683,0.000000
75%,3294.643006,485144.859375,6.822772e+06,-1681.509217,14.177558,2.578526,3.088695,2.894494,2.531131,82.757637,...,12.250001,31.232986,204.037148,0.247048,0.026884,0.149783,4.425004,29.882400,3.274492,1.000000
max,5007.417975,548460.437500,6.853315e+06,-205.295288,27.344881,1566.168457,1901.766602,1582.094482,3.073430,500.878357,...,17.500000,621.078247,494.096802,7.362912,0.404614,426.921356,957.984436,131.990906,2000.000000,1.000000

In [24]:
# generating a porosity log from random values between 0 and 1

import random
porosities = []
for i in range(data.shape[0]):
    porosity = random.random()
    porosities.append(porosity)
    
len(porosities), data.shape

(136786, (136786, 28))

In [25]:
porosities

[0.36207725439420524,
 0.24836586696679108,
 0.3527311070464527,
 0.8936810901817372,
 0.5009239381344952,
 0.040956157272921234,
 0.592098672666427,
 0.20893966527408814,
 0.653694043456383,
 0.8742034380183235,
 0.6633158234611051,
 0.9824556203660919,
 0.04214463457378492,
 0.8276863516195309,
 0.061927048605326274,
 0.836117724045742,
 0.27114506472985667,
 0.9587901713865667,
 0.43136204432065595,
 0.7457828744114486,
 0.023992785397185523,
 0.8329666988386218,
 0.697000590355173,
 0.6533987758059251,
 0.49501291404437053,
 0.11556849259337443,
 0.7131019138092579,
 0.9075373088846728,
 0.4194736791581828,
 0.3292899509023347,
 0.7828442711052989,
 0.39324335577266845,
 0.7048766964923509,
 0.5737575587301439,
 0.7244053146348914,
 0.7396867794806903,
 0.8690254784290204,
 0.5605529438445516,
 0.2533792440445941,
 0.3564637507364433,
 0.42153546353652904,
 0.7836126576649937,
 0.17668913069447878,
 0.5312128329250173,
 0.7829886945457978,
 0.11890494873683499,
 0.7083865378546543,
 0.8396982407587301,
 0.7603804553670214,
 0.9205403892231443,
 0.6697087335947146,
 0.6391740560262559,
 0.15885783188982427,
 0.9393772682860285,
 0.008170800041184534,
 0.0727575415079883,
 0.2931229695967571,
 0.6793471844727494,
 0.8964643705203044,
 0.16609374187960146,
 0.4803807588332879,
 0.07537880986172807,
 0.809657878711713,
 0.9967185966754648,
 0.7222304266789872,
 0.4596562951840898,
 0.7410875178571353,
 0.3241976718173376,
 0.8819669012288924,
 0.02283231092992144,
 0.71721285666808,
 0.9508558360020998,
 0.25695421436954646,
 0.25316337360154073,
 0.48794989629267815,
 0.1519667972851826,
 0.4580547655486559,
 0.24448065497690386,
 0.9750940505298897,
 0.48748240654798425,
 0.6112265163759042,
 0.4339564904906099,
 0.6260754163279797,
 0.7332150018040285,
 0.7931610040755976,
 0.1269052039589328,
 0.5659971122578765,
 0.6030679652529662,
 0.5412976546671457,
 0.6875001682166276,
 0.9616772299771965,
 0.30395054807688604,
 0.2591600814610394,
 0.7254272751059381,
 0.6252506190750756,
 0.9702607201918012,
 0.9608508843686465,
 0.12595269562373645,
 0.17235511915365342,
 0.578233590950248,
 0.28658526407993223,
 0.5522009025877648,
 0.852723009730916,
 0.02913479955020548,
 0.1816354818757827,
 0.43517410858875927,
 0.7025856759804817,
 0.8651670144325665,
 0.6059281957989303,
 0.8926769976030953,
 0.9726982939761718,
 0.26100676638717246,
 0.5065041225322479,
 0.7093741140939329,
 0.2563293797771867,
 0.07170102065214545,
 0.47533770364204375,
 0.7211224618393289,
 0.6590845047986038,
 0.5708462640145868,
 0.592039803063616,
 0.7167615420689131,
 0.7645148139248266,
 0.02693861740870762,
 0.7845697317881778,
 0.7269853905502439,
 0.7341138431197701,
 0.6906159585230507,
 0.22573186530024425,
 0.19983868922780468,
 0.10187407367930612,
 0.5747509112926675,
 0.3788844301736801,
 0.29824438848797663,
 0.8161886104461819,
 0.1830531046033942,
 0.3608272053418783,
 0.661388863501465,
 0.2374862235066173,
 0.6583202833567927,
 0.5021830922267922,
 0.5187846963850843,
 0.7870047768796795,
 0.49694591234165597,
 0.4275763860072692,
 0.7733729460278548,
 0.48566150779674766,
 0.40847966646320255,
 0.35964440071902115,
 0.06397002234400506,
 0.5251161798268523,
 0.7132669716330503,
 0.6629855656024973,
 0.15930570413613665,
 0.8850798123163153,
 0.26565627215847365,
 0.8203554987186817,
 0.8391905015246498,
 0.3062132668156645,
 0.39847821495477376,
 0.4612139876321525,
 0.007253622623124123,
 0.10765294023493377,
 0.3090964420713942,
 0.570232182385638,
 0.600285430612147,
 0.7921667719821871,
 0.867943857273599,
 0.04105641079969524,
 0.0731768555115293,
 0.6712711156223077,
 0.4949084315830562,
 0.5736128682505679,
 0.808304189911963,
 0.27549044460597805,
 0.17601913042670891,
 0.46824543004544994,
 0.4222838428563487,
 0.8302075475058387,
 0.5204496458708714,
 0.8831161180003948,
 0.2834373705674692,
 0.8733012412445229,
 0.4758438483021249,
 0.9548777553692552,
 0.694456991144047,
 0.8528060124597063,
 0.8021024412097337,
 0.6508953340246181,
 0.06997544882857287,
 0.1702625831068123,
 0.1738884548657631,
 0.7644325216098161,
 0.6986601862027164,
 0.7151292455167587,
 0.7209587369049967,
 0.03067456954895209,
 0.38445659168161495,
 0.9647947183972222,
 0.3662645661254853,
 0.1966081622367568,
 0.7370819813808647,
 0.9189865225542228,
 0.5940449881834982,
 0.4435684616260519,
 0.8331576715058423,
 0.25717621115827594,
 0.12443764574650185,
 0.8709706307431413,
 0.19528551321403276,
 0.9130006037223714,
 0.9877723941147861,
 0.645594317377521,
 0.9360839930400913,
 0.6003538499500578,
 0.9025443995228971,
 0.0694128235774687,
 0.8826217287674362,
 0.9819488221003885,
 0.14470958943384515,
 0.28767667854348156,
 0.3508646214537072,
 0.46441216532319485,
 0.8125088884564408,
 0.4756388774148377,
 0.005439900312372958,
 0.6648508654786222,
 0.6533733733327788,
 0.9278284290630391,
 0.5494315126355822,
 0.5908702888244254,
 0.7818407530077811,
 0.7071315314488592,
 0.20983813264550044,
 0.6749046213906483,
 0.45696028153731094,
 0.3894551728590304,
 0.42012273282014223,
 0.10449433771990968,
 0.7500241021765733,
 0.2795409998828582,
 0.14759325866072404,
 0.9266146155034822,
 0.6485599615322641,
 0.34268557631210494,
 0.3051015948315323,
 0.3047698373035641,
 0.5692366956305049,
 0.008806366041303915,
 0.8057422886718838,
 0.6078521897261473,
 0.6095760607400119,
 0.4259232352283746,
 0.32974363092089687,
 0.17627591729125136,
 0.02124253064130166,
 0.03698615496757418,
 0.6783488698139927,
 0.9958122205473011,
 0.6453719986566689,
 0.7552129963540448,
 0.7257739626318976,
 0.7080706712408649,
 0.8971807221692495,
 0.33628100009854145,
 0.9711231084029257,
 0.8209673263310712,
 0.6005279277760186,
 0.5489953910692281,
 0.38489815375748626,
 0.6899151067562469,
 0.37761475721703996,
 0.9038816559737659,
 0.92715713519716,
 0.7117685153476939,
 0.8461209202048064,
 0.33047506265861415,
 0.13785593069207203,
 0.16437340191741678,
 0.3241431569149069,
 0.18404407121856137,
 0.08908307130088577,
 0.2683373956655246,
 0.2728967093929856,
 0.026189841124905966,
 0.9123689621425614,
 0.49679756812689246,
 0.7496803711475647,
 0.17363659086932803,
 0.37731151218227743,
 0.4827180030807068,
 0.32253885898761636,
 0.18077285095562723,
 0.9813549527316424,
 0.7183356488388044,
 0.8505496362682733,
 0.32221570211770756,
 0.9012327469300739,
 0.11207697103175585,
 0.8669645192834581,
 0.4951764265964417,
 0.05036265211047575,
 0.18923002407987433,
 0.8847225782799123,
 0.7058349184658774,
 0.5210356100327319,
 0.6067725505853261,
 0.5634688650214839,
 0.5209252267512697,
 0.8852261229569862,
 0.9705278334102173,
 0.6854002938696369,
 0.24117979139249213,
 0.25011410663908384,
 0.11572480043057976,
 0.993308087909502,
 0.3187677406977658,
 0.31444343585047874,
 0.9904651713535103,
 0.7254631414132146,
 0.7144672386941728,
 0.6615349000197015,
 0.8231030567335421,
 0.25306882359663885,
 0.6599642285631279,
 0.08323574458362304,
 0.059291516628720564,
 0.22478707704964285,
 0.1215848551449481,
 0.6282728932828406,
 0.7275038505766896,
 0.4915543380049391,
 0.8841232749936637,
 0.04999306045102914,
 0.7657767137888764,
 0.20275936569525999,
 0.5520067838981084,
 0.2629583787783353,
 0.4965564110320707,
 0.5442799269780142,
 0.9177880231834323,
 0.4392679158959555,
 0.024693876751617383,
 0.8402579628163214,
 0.8167863575382315,
 0.35143149808038543,
 0.9734455106496059,
 0.371265466872836,
 0.4965422850984319,
 0.8997617477018467,
 0.40735142930840895,
 0.9212566960353943,
 0.8613207480976763,
 0.6172265453769142,
 0.7830156830210447,
 0.14490320527337508,
 0.40021652758038906,
 0.6954965560876739,
 0.3336854667039194,
 0.3576976882534574,
 0.7163976219900466,
 0.3332363491881398,
 0.9512604414641338,
 0.6189493038829641,
 0.07414065796877978,
 0.029295125667701982,
 0.16430764727251523,
 0.1480662560310393,
 0.603281625441053,
 0.5485781247956257,
 0.7456714641210487,
 0.5823721639756005,
 0.8153947662945283,
 0.37821564014228426,
 0.049157526616684044,
 0.8966668729435248,
 0.7528547341456624,
 0.6503927622166309,
 0.7746866967190664,
 0.5491195047398812,
 0.3835643820772796,
 0.4521460099035317,
 0.8599176815974282,
 0.5077841473271928,
 0.3886418988306639,
 0.0015711160225981846,
 0.8325758859695372,
 0.36423750960819457,
 0.24160962901808014,
 0.31572198827374953,
 0.038513928140174625,
 0.2099020823920008,
 0.315123593844882,
 0.6252342029760669,
 0.46450084671401404,
 0.045799623139483714,
 0.36789458368061445,
 0.970664401739846,
 0.7133992525344912,
 0.5932971373813725,
 0.4877090065664059,
 0.5399189230078123,
 0.052763248179589106,
 0.9787177527974253,
 0.06513183402137579,
 0.6224905905835108,
 0.44063555195018866,
 0.19498369431387075,
 0.06643272105007858,
 0.44504223678074917,
 0.8756910131781621,
 0.8137775731529311,
 0.26112343613031186,
 0.07825574019957804,
 0.7891960970830149,
 0.01720949986198317,
 0.30638279559988013,
 0.8664005051684522,
 0.2844280164580687,
 0.9657336659628991,
 0.466476824586723,
 0.6911993792002126,
 0.6746365239220514,
 0.5056300018475011,
 0.29569934664870456,
 0.5184597808205602,
 0.17935867325553767,
 0.12202261531243275,
 0.3255758386760226,
 0.9128190801837637,
 0.07163441923017588,
 0.9920177770153229,
 0.9549149530750183,
 0.6033148165457779,
 0.5213884540791932,
 0.7302913157348776,
 0.34058403729990705,
 0.5686360468813374,
 0.3446964045483959,
 0.4467449859260453,
 0.7096437482653134,
 0.7877700622563386,
 0.5939811717273422,
 0.39539551657909466,
 0.7774392827979025,
 0.017301599005124957,
 0.7093741639087233,
 0.7855468162093174,
 0.8272576526540051,
 0.4077799510167376,
 0.48162551883701854,
 0.2673951168065002,
 0.4347057421983689,
 0.6679803378012877,
 0.8617721871296018,
 0.24695161604998617,
 0.32592183192613433,
 0.09605534156246265,
 0.33490942492360354,
 0.1931496577363634,
 0.7306031451691674,
 0.4567060667244941,
 0.06872694909818777,
 0.15148935573387579,
 0.9871056993845876,
 0.7349091458431427,
 0.37150450768138266,
 0.5136757621777903,
 0.29357511825269744,
 0.4004437345886568,
 0.15585195918643957,
 0.5875890742718264,
 0.1080036413703831,
 0.4684604982651691,
 0.6599926271486114,
 0.10287352778990655,
 0.15212564400080442,
 0.4532447866215281,
 0.0033394943900291185,
 0.30322120903357375,
 0.4126795981526553,
 0.5154887566557463,
 0.06017280071630626,
 0.053648820586728374,
 0.6167301656094016,
 0.02865394999544879,
 0.5437045918819223,
 0.38793228618653897,
 0.7099758776585462,
 0.6514756962845919,
 0.23622634962709654,
 0.9343800716958865,
 0.846944714175947,
 0.8553502765937646,
 0.14738950376784532,
 0.7759257985730512,
 0.3579020244015836,
 0.9193734735104678,
 0.29200615309964295,
 0.5839447915754821,
 0.9950873829862075,
 0.8424886307533407,
 0.07356522785966324,
 0.06065246383153766,
 0.7984748509131198,
 0.16781847401860073,
 0.9247242124669091,
 0.4178083889587001,
 0.7505498240316081,
 0.2609749824432611,
 0.322192422195541,
 0.4619053676922742,
 0.22946736924793842,
 0.8440037400275114,
 0.7895407171711167,
 0.8998532000428356,
 0.40035994583188605,
 0.042618698671548216,
 0.7186741337575285,
 0.7371419492526411,
 0.2668501594095092,
 0.0718461427540451,
 0.4028752008455606,
 0.5724934328815537,
 0.8160372651600547,
 0.25706059779318746,
 0.4474412680791109,
 0.6763698112339199,
 0.9635128814073991,
 0.7319515811137757,
 0.6470119836435427,
 0.21348540348760625,
 0.5675600720561371,
 0.4157048165542411,
 0.7065058701139578,
 0.9992766051315658,
 0.4756833625866935,
 0.686608540710858,
 0.5440716395823804,
 0.5158589131765894,
 0.3445419999573869,
 0.016584255721203367,
 0.6922014014654307,
 0.10629713818793052,
 0.07207979521342256,
 0.9748871714188798,
 0.14742225722175795,
 0.5040655624233562,
 0.29482268992313165,
 0.5082602860389467,
 0.4154836606671759,
 0.7464588458701901,
 0.9174832558250579,
 0.8260853892704001,
 0.918642906202095,
 0.28370889284357825,
 0.8279061212256336,
 0.173277725596219,
 0.6619299914694131,
 0.427651800631786,
 0.551890164788728,
 0.4693586682745534,
 0.08427922896838369,
 0.31415193740722136,
 0.9423000354028405,
 0.6779915237718713,
 0.699383442844842,
 0.09972961580196893,
 0.4049244387287215,
 0.22160127072495583,
 0.06639262452557326,
 0.5444530929240495,
 0.04084562303367589,
 0.8929322919386096,
 0.887153994550983,
 0.7939861596302,
 0.2445009879073654,
 0.587472449345499,
 0.9503581329069225,
 0.9715684403107502,
 0.380990316858821,
 0.2803770521728014,
 0.6120551808862638,
 0.20673419998634257,
 0.15283007232935908,
 0.10409656641766785,
 0.4848045528264282,
 0.97567203332759,
 0.7414273632331614,
 0.9475948588322307,
 0.047217099847195576,
 0.5883250661005355,
 0.9483507654627865,
 0.6131546537224247,
 0.05890403124742727,
 0.6761336267859458,
 0.965867859424504,
 0.6480683354473531,
 0.9992661007772401,
 0.42018030104930004,
 0.4174974755939098,
 0.07039568355578951,
 0.34615413112725313,
 0.9939655300096102,
 0.9666486307058163,
 0.45855148876344964,
 0.6103424733081563,
 0.23548889859430944,
 0.5143473486613109,
 0.3974175545486236,
 0.6019961382389073,
 0.8819037045929901,
 0.3874596190938847,
 0.6931187824143978,
 0.14797881720747463,
 0.007086098398569107,
 0.9228689306306904,
 0.7748055597151402,
 0.307170330781396,
 0.90249573681101,
 0.31260663429557556,
 0.5331148243561532,
 0.5087584439874245,
 0.2073304380119153,
 0.08082846370857699,
 0.17329138569103997,
 0.17096296606230887,
 0.8951018496998682,
 0.29624258424869554,
 0.6168550516503918,
 0.6800863486554758,
 0.3133306835719091,
 0.9979230487074612,
 0.5558899628157803,
 0.03288938797801777,
 0.7037581113506345,
 0.9863084515601327,
 0.9419637867178682,
 0.8343560698407263,
 0.9437624019817862,
 0.43019604306034875,
 0.4532244551354002,
 0.10711548607420607,
 0.465722418188404,
 0.228733734383752,
 0.7427070724367637,
 0.8170328007264732,
 0.06960324988838962,
 0.24136277165197118,
 0.08288480574683077,
 0.369545852527586,
 0.20254991969582636,
 0.6080226122345962,
 0.7592216450813519,
 0.10269539636926539,
 0.26527948408546065,
 0.8207127559107897,
 0.5275215419659909,
 0.983485919556046,
 0.7082528926936186,
 0.34044222028511484,
 0.6911843566091924,
 0.5244458543007866,
 0.6881605145263489,
 0.9647574008788141,
 0.39985292216142454,
 0.006237532768088916,
 0.26028371327476296,
 0.9672197658767805,
 0.13985005412796392,
 0.005354198153015632,
 0.23185552320355196,
 0.2717481916666191,
 0.011354470259993032,
 0.4698261935475512,
 0.15507850626506858,
 0.5850941804146773,
 0.14354119327292325,
 0.818632656831366,
 0.2456913273559289,
 0.27851967087836516,
 0.29358843054523664,
 0.6435447581182072,
 0.7397496326812995,
 0.9591015469264192,
 0.9681944745855654,
 0.05155437757902914,
 0.06034278889322009,
 0.9976274172464286,
 0.8857660173572666,
 0.1909966288167877,
 0.7635501880345062,
 0.6022281076915187,
 0.5925873124320159,
 0.8664187516517237,
 0.9510292446106045,
 0.7653327982585696,
 0.7344705011021043,
 0.6371303757636557,
 0.2254202928768656,
 0.12770221904308632,
 0.03176935702177097,
 0.25279293099424016,
 0.19236192153964582,
 0.15275516200250028,
 0.23172130650322587,
 0.9506097658501789,
 0.7852025248317753,
 0.5781512401514728,
 0.9397024182824746,
 0.9905571538390011,
 0.25960832262855604,
 0.596527061997769,
 0.11918029430906318,
 0.6683394751423157,
 0.1707967414374416,
 0.3188263752702285,
 0.12027103281417018,
 0.12072638501341137,
 0.8437740081731958,
 0.6738886834310314,
 0.8015164305888444,
 0.5792865429167667,
 0.7711167527496591,
 0.585495780088305,
 0.525182424984274,
 0.41906135163675096,
 0.789084223402939,
 0.3230936468661364,
 0.0156753564932407,
 0.16460106577583122,
 0.6311735554768653,
 0.9957733799865738,
 0.9248858980515678,
 0.8927130382887585,
 0.6452414721096664,
 0.31880506495718886,
 0.41418118410708127,
 0.9031368583348013,
 0.2896751420015067,
 0.04349272177571517,
 0.4631859459383342,
 0.04155035990810696,
 0.6366194396584955,
 0.08203365005986818,
 0.3478874539160539,
 0.17952992514956512,
 0.3782723240676703,
 0.208894917472651,
 0.2703737622256892,
 0.2858478896846328,
 0.8222231424098777,
 0.9860099941509134,
 0.17175751493593827,
 0.914150013596912,
 0.7763136476191168,
 0.8290448806368458,
 0.32389915398384395,
 0.3752803705063005,
 0.7450950368121894,
 0.13672699915158648,
 0.02052415763088178,
 0.3377997581555007,
 0.7029047652732308,
 0.7910823623706161,
 0.137545666809758,
 0.7202673236538467,
 0.09917459531745876,
 0.24032568323759151,
 0.17164847688726637,
 0.6813795596319678,
 0.6236575825521631,
 0.9911838044359688,
 0.5318348875966016,
 0.2838849354904671,
 0.46676071907330285,
 0.29034739853906966,
 0.4660735694337824,
 0.663450302356438,
 0.5503808583262585,
 0.8726288042194342,
 0.7233583132269522,
 0.2831084639976026,
 0.22596160085722172,
 0.6886415795855965,
 0.6479702944074198,
 0.709504024936509,
 0.15619094209466222,
 0.06471196260531265,
 0.987464360938853,
 0.8198253402340304,
 0.9781208384804776,
 0.8690552765887307,
 0.5151185594228035,
 0.1858435833553861,
 0.7195448576489314,
 0.40654435529595045,
 0.6933149080616869,
 0.1776358934977028,
 0.08969058536927021,
 0.04868894980293792,
 0.3487809004808823,
 0.7639182613812874,
 0.60651527059493,
 0.9611324398545322,
 0.9705902951489889,
 0.971829534404065,
 0.21181826865659314,
 0.054819797425444516,
 0.4924027365074578,
 0.5585265895090445,
 0.22734916693321194,
 0.09870520063711108,
 0.17448265606277258,
 0.7264116890043745,
 0.10167165420642343,
 0.4842213079111152,
 0.6758146487497336,
 0.7337581820804879,
 0.08846485086431166,
 0.7295280028172261,
 0.9382986049867784,
 0.48325524591048097,
 0.6803458830064112,
 0.8313728456726339,
 0.14231023689512623,
 0.13003090136259332,
 0.5636614173529984,
 0.6658210582209316,
 0.6480894514332731,
 0.041483414867495405,
 0.7121801227824075,
 0.5917713782083776,
 0.5817896106998425,
 0.19449449874413782,
 0.8005367767935561,
 0.23529292030845406,
 0.0215488365818034,
 0.3541844655003028,
 0.14058721293131338,
 0.719005494236907,
 0.24960891641831018,
 0.8001360977324904,
 0.5886260956625816,
 0.7817909329212382,
 0.33802036816725345,
 0.9654823326613089,
 0.6976221225882993,
 0.0851275665965715,
 0.6244370485106027,
 0.7184353035212069,
 0.21193144730120972,
 0.9335262368249837,
 0.47807215256611213,
 0.4241324312281104,
 0.4878651917496132,
 0.14280569573047375,
 0.6704487509516259,
 0.6572042659097355,
 0.7267641955874827,
 0.921227924463302,
 0.5071075434890501,
 0.44056540086310725,
 0.8203932857445908,
 0.9859425932336806,
 0.18482377864253952,
 0.5749195043654998,
 0.5327984463811076,
 0.09041244536220461,
 0.479678754966417,
 0.07511224939195371,
 0.8575001640925147,
 0.5302401881973318,
 0.3499251254322031,
 0.9656751616878452,
 0.07178051624441817,
 0.3448698161390005,
 0.95354456782949,
 0.3958364320293021,
 0.9453078593325758,
 0.18547327145733727,
 0.029800478076455694,
 0.42831465320759554,
 0.7438283785274096,
 0.3472069040762249,
 0.276584732569237,
 0.5654864649418817,
 0.14716113087351002,
 0.534978211450114,
 0.18633386350178816,
 0.28462908992712777,
 0.372617552435453,
 0.47632071261079556,
 0.2119640108490688,
 0.8132641862725922,
 0.4463603286978728,
 0.7496308364870553,
 0.08743230769307986,
 0.2942344096922265,
 0.8338392336610252,
 0.9239914941220391,
 0.26226219348811897,
 0.8453804535036188,
 0.47869003514246045,
 0.8997261151501401,
 0.8000120500922436,
 0.01987886947989692,
 0.6038844453614927,
 0.9498198722193061,
 0.11664852536008186,
 0.08399715241207151,
 0.8003561531215154,
 0.7942097608077053,
 0.44661558631570697,
 0.8056483360690379,
 0.664455905043783,
 0.07217601125994277,
 0.4263313824522522,
 0.8722373595976178,
 0.026697049551800744,
 0.13183794265654092,
 0.22918223105466695,
 0.6438853360034411,
 0.0668187900010162,
 0.28391724598499646,
 0.7018806673997672,
 0.10756217273652746,
 0.09332173368803176,
 0.3426132079153732,
 0.003407344083915853,
 0.7276625619248192,
 0.2833583349260598,
 0.8682363716850934,
 0.15158710787632623,
 0.15403695430612296,
 0.5286763929348608,
 0.7457892353253648,
 0.025536138000933795,
 0.661617349468663,

In [26]:
data['POR'] = porosities

In [27]:
data.head()

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag,POR
0,15/9-14,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,...,96.461990,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN,0,0.362077
1,15/9-14,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,...,96.454399,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN,0,0.248366
2,15/9-14,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,...,96.446686,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN,1,0.352731
3,15/9-14,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,...,161.170166,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN,1,0.893681
4,15/9-14,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,...,172.489120,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN,1,0.500924

Let's create a net pay zone flag using the gamma ray and porosity logs. A cut of value of 0.2 is assigned for the porosity condition. So if the gamma ray is lesser than the shale baseline and the porosity value is greater than 0.2, the point is a pay zone point. So we have two conditions to pass for two different logs to create the column

In [28]:
data['Net_Pay_Flag'] = np.nan
data.loc[data['GR'] > 75, 'Net_Pay_Flag'] = 0
data.loc[(data['GR'] < 75) & (data['POR'] > 0.25), 'Net_Pay_Flag'] = 1

In [29]:
data

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag,POR,Net_Pay_Flag
0,15/9-14,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,...,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN,0,0.362077,1.0
1,15/9-14,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,...,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN,0,0.248366,NaN
2,15/9-14,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,...,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN,1,0.352731,0.0
3,15/9-14,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,...,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN,1,0.893681,0.0
4,15/9-14,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,...,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN,1,0.500924,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136781,35/9-8,3224.389600,536225.93750,6794880.5,-3199.876465,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.231942,...,118.669212,NaN,0.063478,NaN,2.618309,33.523922,NaN,0,0.453411,1.0
136782,35/9-8,3224.541600,536225.93750,6794880.5,-3200.028320,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.038777,...,118.468925,NaN,0.056791,NaN,2.620221,32.643795,NaN,0,0.081339,NaN
136783,35/9-8,3224.693600,536225.93750,6794880.5,-3200.180176,BAAT GP.,Rannoch Fm.,8.4978,NaN,5.503983,...,118.163177,NaN,0.002499,NaN,2.629171,31.763380,NaN,0,0.857013,1.0
136784,35/9-8,3224.845600,536225.93750,6794880.5,-3200.332031,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.895551,...,117.655937,NaN,0.003363,NaN,2.521121,30.884350,NaN,0,0.821444,1.0
136785,35/9-8,3224.997600,536225.93750,6794880.5,-3200.483887,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.564547,...,117.002289,NaN,0.001724,NaN,2.356035,29.962900,NaN,0,0.298428,1.0

In [32]:
data[['GR', 'POR', 'Net_Pay_Flag']]

               GR       POR  Net_Pay_Flag
0       72.078377  0.362077           1.0
1       72.147697  0.248366           NaN
2       75.074219  0.352731           0.0
3       80.735229  0.893681           0.0
4       81.665024  0.500924           0.0
...           ...       ...           ...
136781  60.644516  0.453411           1.0
136782  60.317150  0.081339           NaN
136783  63.907867  0.857013           1.0
136784  64.572060  0.821444           1.0
136785  69.898911  0.298428           1.0

[136786 rows x 3 columns]

In [30]:
data.describe()

,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,CALI,RSHA,RMED,RDEP,RHOB,GR,...,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,lithology_flag,POR,Net_Pay_Flag
count,136786.000000,136727.000000,1.367270e+05,136727.000000,131141.000000,39097.000000,136199.000000,136727.000000,119826.000000,136786.000000,...,43220.000000,13515.000000,111556.000000,20269.000000,11316.000000,55790.000000,29848.000000,136786.000000,136786.000000,112966.000000
mean,2501.136889,467884.598172,6.708199e+06,-2397.835918,12.613567,3.137817,3.844914,3.662074,2.324925,65.223264,...,185.389543,0.160979,0.014441,6.028683,4.906861,22.669058,5.280645,0.311589,0.499124,0.622709
std,1043.245788,35865.313917,1.352924e+05,937.001116,3.218969,17.293036,24.170949,23.242750,0.243602,31.146538,...,63.173605,0.536332,0.054151,49.607255,22.963156,13.436052,55.475790,0.463144,0.289326,0.484711
min,227.296008,423237.531250,6.461833e+06,-4362.296387,6.682522,0.255146,0.148474,0.152317,1.289989,6.342400,...,79.327354,-6.402187,-1.213720,0.129413,0.063258,0.572329,0.262056,0.000000,0.000024,0.000000
25%,1707.948917,442441.406250,6.605454e+06,-3171.749634,9.049458,0.850029,0.933067,0.902655,2.116576,44.557275,...,146.022373,0.027619,-0.001835,0.134206,0.543010,12.753529,1.081298,0.000000,0.247744,0.000000
50%,2471.823595,455904.187500,6.759398e+06,-2442.877197,12.428942,1.416000,1.669926,1.657664,2.376285,60.110472,...,175.515274,0.124714,0.009203,0.143792,1.435970,19.927827,1.587683,0.000000,0.497910,1.000000
75%,3294.643006,485144.859375,6.822772e+06,-1681.509217,14.177558,2.578526,3.088695,2.894494,2.531131,82.757637,...,204.037148,0.247048,0.026884,0.149783,4.425004,29.882400,3.274492,1.000000,0.750650,1.000000
max,5007.417975,548460.437500,6.853315e+06,-205.295288,27.344881,1566.168457,1901.766602,1582.094482,3.073430,500.878357,...,494.096802,7.362912,0.404614,426.921356,957.984436,131.990906,2000.000000,1.000000,0.999997,1.000000

In the next section, we will look at another important data science library for rendering visualizations and more exploratory data analysis. For now, let's export our new data for use in the next section.

In [31]:
data.to_csv('data/new_data.csv', index=False)